{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <h1><a href="/blockapp">Banner</a></h1>
        {% if isLogin %}
            <h3>{{username}}</h3>
            <a href="{% url 'usersapp:signout' %}">log out</a>
        {% else %}
            <a href="{% url 'usersapp:signin' %}">signin</a>
            <a href="{% url 'usersapp:signup' %}">signup</a>
        {% endif %}
    </header>
    <hr />
    {% block content %}
    {% endblock %}
    <hr />
    <footer>
        FOOTER <br />
        create by : Tape
    </footer>
</body>
</html>