{% extends 'base_users.html' %}

{% block title %}SignInForm{% endblock %}


{% block content %}
    <div>
        <h1>Sign Up</h1>
        <form action="">
            <div>
                <label for="username">Username : </label>
                <input id="username" type="text" name="username">
            </div>
            <br>
            <div>
                <label for="email">Email : </label>
                <input id="email" type="email" name="email">
            </div>
            <br>
            <div>
                <label for="password">Password : </label>
                <input id="password" type="password" name="password">
            </div>
            <br>
            <div>
                <input type="submit" value="LOG IN">
            </div>
        </form>
    </div>
{% endblock %}